@import "@/style/basic.less";
.sidebar {
  margin: 10px;
  padding: 25px 10px;
  background: @title-bg;
  &-operate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .btn {
      display: flex;
      cursor: pointer;
      flex: 1;
      flex-direction: column;
      &:hover {
        color: @title-hover;
      }
      &-icon {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
